h3 {
  color: #bf082b;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

h2 {
  color: #1c2666;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.mainDiv {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #f0f2f7;
}

.left {
  width: 50%;
}

.left .button {
  background-color: #fff;
  border: 2px solid #bf082b;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0;
}

.left .button a {
  color: #bf082b;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
  border-radius: 20px;
}

.amenitiesDiv {
  background-color: #1c2666;
  padding: 50px;
}

.amenitiesContainer {
  list-style: none;
  padding: 20px;
  column-count: 3;
  column-gap: 100px;
}

.amenitiesContainer li {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  margin: 10px;
  padding: 10px;
  padding-left: 0;
  box-shadow: 13px 8px 13px 0px rgba(8, 0, 20, 0.14);
  border-radius: 20px;
  width: 75%;
}

.reviewsHeading,
.amenitiesHeading {
  color: #1c2666;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 20px;
}

.amenitiesHeading {
  color: #fff;
}

.reviewsSubHeading {
  color: #bf082b;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.reviewsContainer {
  display: flex;
  gap: 40px;
  width: 80%;
  margin: auto;
  padding: 20px 50px;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 25%;
  border-radius: 10px;
  padding: 20px;
  background-color: #f0f2f7;
}

.upper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.upper img {
  width: 100px;
  border-radius: 50%;
}

.upper h4 {
  color: #bf082b;
  font-size: 20px;
}

.lower {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

/* Mobile */
@media screen and (max-width: 768px) {
  h3 {
    font-size: 28px;
  }

  h2 {
    font-size: 35px;
  }

  .mainDiv {
    flex-direction: column;
    padding: 20px;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .amenitiesDiv {
    padding: 20px;
  }

  .amenitiesContainer {
    column-count: 1;
    padding: 10px;
  }

  .amenitiesContainer li {
    width: 100%;
  }

  .reviewsHeading,
  .amenitiesHeading {
    font-size: 35px;
    margin: 10px;
  }

  .reviewsContainer {
    padding: 20px;
  }

  .card {
    flex: 0 0 100%;
  }
}
